html{
    height: 100%;
}

body{
    background-image: url("https://storage.googleapis.com/novaleaf-198916.appspot.com/forestt.jpg");
    height: 80%;


}

h1.ares{
    font-family: "Times New Roman";
    font-size: 10vw;
    margin-bottom: -10px;

}


.sizer{
    font-size: 2vw;
}

p{
    font-family: "Times New Roman";
    margin-left: 20px;


}

p.b{
    color:bisque;
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: -5px;
}

p.c{
    margin-top: -5px;

}

a.zeus{
    color:#00c1c5;

}

section.helios{
    background-color: bisque;
    opacity: 0.7;
    background-clip: padding-box;
    text-align: center;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}


.footer{
    background-color: #361b00;
    margin-top: 36.6vh;
    margin-bottom: 0%;
    text-align: center;
    font-family: "Times New Roman";


}

